.container {
    width: 80%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
}

nav {
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}


.brand-name {
    text-decoration: none;
    color: #E4D804;
    font-size: 1.3rem;
    margin-left: 1rem;
    font-weight: bold;
}

.nav-menu {
    margin-left: auto;
}

.nav-menu ul {
    display: flex;
    padding: 0;
}

.nav-menu li {
    list-style-type: none;
    margin: 0 1rem;

}

.nav-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #fff;
    font-weight: Bold;
}

.button {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.button:hover {
    background-color: #2642af;
}


/* -----shows-cards-atyle---------- */


.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    justify-items: center;
    text-align: center;
    gap: 2rem;
    color: white;
    margin: 50px 0;
}

.cards .cards-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cards .cards-text p {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    color: #A3A2A4;
}

/* .card {
    width: 250px;
} */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

}

.hd {
    border: 1px solid #E4D804;
    padding: 0.2rem;
    font-weight: bold;
    color: #E4D804;
}

.yellow {
    color: #E4D804;
    font-size: 1rem;
}

.white {
    color: #A3A2A4;
}

button {

    background: #5E5DF0;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    outline: 0 solid transparent;
    padding: 8px 18px;
    border: 0;
    text-align: center;
    width: 100%;
}


/* ---------error---page ----style------ */
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.error-page p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.error-page img {
    max-width: 100%;
    height: auto;
}


/* -------media query for different devices---------- */
@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    /* ---------------navbar-------------- */
    .nav-menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        flex-direction: column;
        width: 100%;
        background-color: white;
        transition: linear .2s;
    }

    .nav-menu li {
        text-align: center;
        margin: 0;
    }

    .nav-menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }

    .nav-menu li:hover {
        background-color: #eee;
    }

    .nav-menu.expanded ul {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        /* display: block; */
    }

    .button {
        display: block;
    }

    /* shows-card---------------------- */

    .cards {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 1rem;
    }

    .cards {
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
}


/* ------ticket--booking-----table----- */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f7f7f7;
    color: black;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
}


/* increase-----decrease button------ */
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #000;

}

.value-button:hover {
    cursor: pointer;
}



input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 20px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}